@font-face {
  font-family: navfont;
  src: url(Fonts/BRITANIC.TTF);
}

body{
	background-color: #abb1d9;
}
.superior{
	margin-top: -10px;
	text-align: center;
	background-color: inherit;
	display: inline-block;
	width: 100%;
	height: 185px;
}
.logo-fondo{

	background-color: black;
	display: inline-block;
	width: 1000px;
	height: 185px;
	border-radius:55px;
	margin-top: -50px;
}
.logo-div{
	text-align:center;
}
.logo-img{
	width: 180px;
	height: 180px;

}
.nav-fondo{
	background-color: black;
	width: 100%;
	border-left-style: solid;
	border-left-width: 16px;
	border-left-color: black;
	margin-left: -8px;
	height: 140px;
	

}

.btn-nav{
	background-color: #abb1d9;
	padding: 10px;
	border-radius: 11px;
	float: left;
	margin-top: 50px;
	display: inline;
	width: 134px;
	text-align: center;

}
#nav1{
 margin-left: 165px;
}
#nav2{
	margin-left: 127px;
}
#nav3{
	margin-left: 127px;
}
#nav4{
	margin-left: 127px;
}
nav a{
	font-family: navfont;
	font-size: 18pt;
	text-decoration-color: black;
	color:black;


}
nav a:hover{
	background-color: rgb(2,13,67);
	color:white;
	text-decoration-color: white;
}