@font-face {
  font-family: navfont;
  src: url(Fonts/BRITANIC.TTF);
}
@font-face {
  font-family: indexfont;
  src: url(Fonts/tobod.OTF);
}
@font-face {
  font-family: fechafont;
  src: url(Fonts/qiko.OTF);
}
@font-face {
  font-family: atletas;
  src: url(Fonts/babynames.ttF);
}
@font-face {
  font-family: fontpalab;
  src: url(Fonts/palab.ttf);
}
@font-face {
  font-family: fontpalace;
  src: url(Fonts/palace.ttf);
}
body{
	background-color: #abb1d9;
}
.superior{
	margin-top: -10px;
	text-align: center;
	background-color: inherit;
	display: inline-block;
	width: 100%;
	height: 185px;
}
.logo-fondo{

	background-color: black;
	display: inline-block;
	width: 1000px;
	height: 185px;
	border-radius:55px;
	margin-top: -50px;
}
.logo-div{
	text-align:center;
}
.logo-img{
	width: 180px;
	height: 180px;

}
.nav-fondo{
	background-color: black;
	width: 100%;
	border-left-style: solid;
	border-left-width: 16px;
	border-left-color: black;
	margin-left: -8px;
	height: 140px;
	

}

.btn-nav{
	background-color: #abb1d9;
	padding: 10px;
	border-radius: 11px;
	float: left;
	margin-top: 50px;
	display: inline;
	width: 134px;
	text-align: center;

}
#nav1{
 margin-left: 165px;
}
#nav2{
	margin-left: 127px;
}
#nav3{
	margin-left: 127px;
}
#nav4{
	margin-left: 127px;
}
nav a{
	font-family: navfont;
	font-size: 18pt;
	text-decoration-color: black;
	color:black;


}

.index-foto2{
	display: inline;
	width: 300px;
	height: 280px;
	opacity: 0.35;
	margin-left: 400px;
	margin-top: 69px;

}
.index-foto1{
	display: inline;
	width: 300px;
	height: 280px;
	margin-top: 69px;
	opacity: 0.35;
}
.index-foto-box{
	text-align: center;
	display: block;
}
.index-main-text-box{
	position: absolute;
	left: 200px;
	margin-top: 40px;
	top: 310px;
}
.index-main-text{

	font-family: indexfont;
	font-size: 33pt;
	letter-spacing: 3px;
	display: inline;
}
.index-alt-text{
	font-family: fechafont;
	font-size: 35pt;
	letter-spacing: 4px;
	display: inline;
	background-color:  #ffe6ff;
	border-style: dotted;
	border-width: 6px;
	border-color: black;
	padding: 3px;
	opacity: 0.9;
	border-radius: 25px;

}
.footer-box{
	width: 100%
	height: 100px;
	display: block;
	margin-bottom: -10px;
	float: none;
}
.footer-box p{
	background-color: #002966;
	padding: 40px;
	margin-right: -7px;
	color:white;
	margin-left: -7px;
	margin-bottom: -80px;
}
.icon-atleta, .icon-disciplina{
	width: 100px;
	height: 100px;
	margin-top: 50px;
	
}
.icon-disciplina{
	margin-left:50px;
	margin-right: 50px;
}
.menu-atletas-box{
	text-align: center;
	display: inline-block;
	width: 100%;
}
#icon-atleta-2{
	margin-left: 100px;
	margin-right: 100px;
}
.atletas-main-text-box{
	width: 100%;
	text-align: center;
}
.atletas-main-text{
	font-family: atletas;
	font-size: 80pt;
	margin-top: 5px;
	margin-bottom: -20px;
}
.posicionador{
	margin-top: 400px;
	background-color: yellow;
}
.addatleta, .editatleta, .delatleta{
	display: none;
	width: 100%;
	text-align: center;
	margin-top: 30px; 	
}
.addatleta table, .editatleta table, .delatleta table{
	display: inline-block;
	text-align: left;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 70px;
	padding-left: 70px;
	background-color: rgb(201, 191, 196);
}
.addatleta-tit-sec{
	text-align: center;
	font-family: fontpalab;
	font-size: 15pt;
}
.delAtletaSelect, .idAtletaEditSelect{
	width: 200px;
}
.consultas-menu-box{
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-top: 70px;
	margin-bottom: 60px;
}
.btn-menu-consultas2,.btn-menu-consultas1{
	font-family: fontpalab;
	text-decoration: underline;
	text-decoration-color: #000000;
	display: inline-block;
	margin-left: 70px;
	margin-right: 70px;
	font-size: 35pt;
	letter-spacing: 4px;
	background-color:  #ffe6ff;
	border-style: solid;
	border-width: 6px;
	border-color: black;
	padding: 15px;
	opacity: 0.9;
	border-radius: 25px;
	width: 450px;
	height: 70px;

}
.btn-menu-consultas2:hover,.btn-menu-consultas1:hover, nav a:hover {
	background-color: rgb(2,13,67);
	color:white;
	text-decoration-color: white;
	cursor: pointer;
}
.consultaDisciplinasContainer,.consultaAtletasContainer{
	width: 100%;
	text-align: center;
	display: none;
	
	

}
.ctaDisTable{
	
	display: inline-block;
	margin-bottom: 50px;
	border-collapse: collapse;

	


}
.celdaimpar{
	background-color: gray;
}
.celdapar{
	background-color: lightgray;
}
.ctaDisTable tr,.ctaDisTable th, .ctaDisTable td{
	text-align: center;
	border-collapse: collapse;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	padding: 4px;
	width: 150px;
	overflow: hidden;

	
}
.ctaDisTit{
	font-family: fontpalace;
	font-size: 55pt;
	letter-spacing: 3px;
	display: inline;
}
.flechaOrdenar{
	width: 17px;
}
.iconConsulta{
	width: 50px;
	display: inline;
	margin-left: 20px;
	cursor: pointer;
	
}
.boxTableDis{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 40px;

}
.filtrosBox{
	z-index: 1;
	position: absolute;
	display: block;
	background-color: lightgray;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	top: 600px;
	left: 790px;
	display: none;

}
.formFiltros{
	padding: 25px;
}
.filtrosBox td{
	text-align: right;
}
.filtrosBox select{
	width: 120px;
	overflow: hidden;
}
.filtrosBox input[type=number]{
	width: 112px;
}
